@import url('https://fonts.googleapis.com/css?family=Istok+Web|Teko');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

nav, 
.nav-wrapper,
.panel-heading {
    background-color: #616161 !important;
}

body {
    font-family: 'Istok Web', sans-serif;
    background-color: #DBDBDB;
}

.jumbotron {
    text-align: center;
    background-color: #F8E680;
    background-image: url("../images/corkboard.jpg");
    background-size: 100%;
    border: 5px solid #5C2E04;
    color: #000000;
    text-shadow: 1px 1px white;
    font-weight: 900 !important;
    width: 90%;
    padding: 0px;
    margin: 15px auto;
    font-family: 'Patua One', serif;
}

.brand-logo {
    font-family: 'Patua One', serif;
    font-weight: 750 !important;
    text-shadow: 1px 1px black;
}

a:hover {
    text-decoration: none;
    color: tan !important;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4,
h5 {
    font-size: 20px;
}

.btn-sm {
    margin-right: 3px;
}

.material-icons {
    vertical-align: middle !important; 
}

.panel-title {
    color: #fff;
    font-size: 24px;
}

.userPostPic {
    width: 100%;
    max-width: 150px;
}

.card {
    padding: 15px 15px;
}

.loggedInbtn {
    margin: 15px auto !important;
}

.profilePic {
    position: relative;
}
