@import url('https://fonts.googleapis.com/css?family=Istok+Web|Teko');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Patrick+Hand+SC');

.launcher,
nav, 
.nav-wrapper,
.panel-heading {
    background-color: #464343 !important;
}
/* Post heading color along with input section */
.panel-primary {
    background-color: #464343 !important;
    font-family: 'Patrick Hand', serif;
    font-size: 24px;
}

body {
    font-family: 'Istok Web', sans-serif;
    background-color: #DBDBDB;
}

/* Establishes the cork board look for jumbotron heading */
.jumbotron {
    background-color: #000;
    background-image: url("../images/chalkboard.jpg");
    background-size: 100%;
    border: 5px solid #000;
    margin: 15px auto;
}

.headingTop {
    text-align: center;
    text-shadow: 1px 1px #000;
    font-weight: 900 !important;
    padding: 0px;
    color: #fff;
    font-family: 'Patrick Hand', serif;
}

/* Sets logo font and weight in nav bar */
.brand-logo {
    font-family: 'Patrick Hand SC', serif;
    font-weight: 750 !important;
    text-shadow: 1px 1px black;
}

/* Establishes link color for navigation on hover */
a:hover {
    text-decoration: none;
    color: lightskyblue !important;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

/* Establish heading font sizes */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4,
h5 {
    font-size: 18px;
    margin: 0px !important;
}

/* Overrides materialize input setting for space consolidation */
input {
    margin: 0 0 5px 0 !important;
    padding: 0px !important;
}

/* Adds space between buttons */
.btn-sm {
    margin-right: 3px;
}

/* Centers material icons */
.material-icons {
    vertical-align: middle !important; 
}

/* Establishes font color and size for panel titles */
.panel-title {
    color: #fff;
    font-size: 24px;
}

p {
    font-size: 16px !important;
}

/* Establish button format for when user is logged in */
.loggedInbtn {
    margin: 15px auto !important;
}

/* Establishes profile pic area as relative so the dropzone can fit in */
.profilePic {
    position: relative;
    margin: 8px -15px 8px 5px;
}

.conversation-container > .header {
    background-color: black;
  }
  
  .message > .response {
    background-color: black;
    color: white;
  }

  .linkOut {
      width: 100% !important;
  }

  .responsive-img {
      max-height: 350px;      
  }


  @media screen and (max-width: 800px) {
  .widget-container {
      max-height: 300px !important;
      max-width: 250px !important;
      z-index: -1;
  }

}